.DateDetail {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    width: 90%;
    left: 5%;
    top: 5%;
    height: 90%;
}

.background-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #7d7d86a1;
    z-index: 3;
}

.DateDetail .header {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    background-color: antiquewhite;
}

.DateDetail .info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.DateDetail h3,
.DateDetail p {
    margin: 0;
}